.card {
  border: none;
  background-color: #e5e3d3;
  /* overflow: hidden; */ }

/* .card:hover img {   
    position: relative;
    transform: scale(1.1);
    -webkit-transition: 1.4s ease-in-out;
    transition: 1.4s ease-in-out;
  } */
